
#layoutAll {
  width: 1200px; /* 幅(px指定) */
  margin: 0 auto;  /* 余白の大きさ 中央寄せ(センタリング)) */

}
/*
メニュー関連のcssの記述
*/
.container {
  padding: 0;
  margin: 30px auto;
  width: 728px;
  height:1028px;
}
ul.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  border-style:groove;
}
ul.menu li {
  display: inline-block;
}
ul.menu li a {
  display: inline-block;
  font-size: 25px;
  width: 160px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 7px;
  background: #E6E6E6;
  color: #000000;
  border-style:groove;
}
ul.menu li a.active {
  background: #848484;
  color: #000;
}
ul.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: .8s;
}
.content {
  font-size: 25px;
  padding: 7px 10px;
  line-height: 1.4;
  background: #F2F2F2;
  height: 1024px;
  display: none;
  border-style:groove;
}
.content.active {
  display: block;
}


/*
#MyScreen{
	display:table-cell;
	width:540px;
	height:750px;
  float: left;
  border-style:solid;
}

#OtherScreen{
  display:table-cell;
  width:540px;
  height:530px;
  float: left;
  border-style:solid;
}

#dataInfo{
	display:table-cell;
  width:540px;
  height:220px;
  float: left;
	border-width:1px;
  border-style:solid;
}
*/
body {
  font-family: sans-serif;
  font-size: 30px;
}

select {
  font-size: inherit;
  padding: 1px;
}




input[type="button"]{
  color: #000000;
  background-color: #FAAC58;
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  margin: 2px 0;
  cursor: pointer;
  font-size: 20px;
}

input[type="text"]{
  color: #000000;
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  margin: 2px 0;
  cursor: pointer;
  font-size: 20px;
}



button {
  color: #000000;
  background-color: #FAAC58;
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  margin: 2px 0;
  cursor: pointer;
  font-size: 20px;
}
/*
#message {
  //opacity : 0;より変更
  opacity: 1;
  transition: opacity 5s linear;
}
#message.visible {
  opacity: 1;
  transition: opacity 0.1s linear;
}
*/
#canvas {
  border: 1px solid;
  width: 700px;
  height: 700px;
  min-height: 300px;
  border-style:dotted;
  background: #FAFAFA;
}
#canvas .element-node {
  opacity: 0.5;
}
/*カードの最初の色は灰色*/
#canvas .element-node[data-color="gray"] {
  fill: #D8D8D8;
}

#canvas .element-node[data-color="red"] {
  fill: #F7BE81;
}
#canvas .element-node[data-color="blue"] {
  fill: #CEF6F5;
}
#canvas .element-node[data-color="green"] {
  fill: #9FF781;
}
#canvas .element-node text {
  fill: #000000;
}
/*
#canvas .element-node:hover .port {
  opacity: 1;
}
*/
#canvas[data-filter="red"] .element-node[data-color="red"] {
  opacity: 1;
}
#canvas[data-filter="blue"] .element-node[data-color="blue"] {
  opacity: 1;
}
#canvas[data-filter="green"] .element-node[data-color="green"] {
  opacity: 1;
}
#canvas[data-filter="all"] .element-node {
  opacity: 1;
}
#canvas3 {
  border: 1px solid;
  width: 700px;
  height: 700px;
  min-height: 300px;
  border-style:dotted;
  background: #FAFAFA;
}
#canvas3 .element-node {
  opacity: 0.5;
}
/*カードの最初の色は灰色*/
#canvas3 .element-node[data-color="gray"] {
  fill: #D8D8D8;
}

#canvas3 .element-node[data-color="red"] {
  fill: #F7BE81;
}
#canvas3 .element-node[data-color="blue"] {
  fill: #CEF6F5;
}
#canvas3 .element-node[data-color="green"] {
  fill: #9FF781;
}
#canvas3 .element-node text {
  fill: #000000;
}
/*
#canvas .element-node:hover .port {
  opacity: 1;
}
*/
#canvas3[data-filter="red"] .element-node[data-color="red"] {
  opacity: 1;
}
#canvas3[data-filter="blue"] .element-node[data-color="blue"] {
  opacity: 1;
}
#canvas3[data-filter="green"] .element-node[data-color="green"] {
  opacity: 1;
}
#canvas3[data-filter="all"] .element-node {
  opacity: 1;
}


#canvas2 {
  border: 1px solid;
  width: 700px;
  height: 700px;
  min-height: 300px;
  border-style:dotted;
  background: #FAFAFA;
}

#canvas2 .element-node {
  opacity: 0.5;
}
/*カードの最初の色は灰色*/
#canvas2 .element-node[data-color="gray"] {
  fill: #D8D8D8;
}

#canvas2 .element-node[data-color="red"] {
  fill: #F7BE81;
}
#canvas2 .element-node[data-color="blue"] {
  fill: #CEF6F5;
}
#canvas2 .element-node[data-color="green"] {
  fill: #9FF781;
}
#canvas2 .element-node text {
  fill: #000000;
}
#canvas2 .element-node:hover .port {
  opacity: 1;
}
#canvas2[data-filter="red"] .element-node[data-color="red"] {
  opacity: 1;
}
#canvas2[data-filter="blue"] .element-node[data-color="blue"] {
  opacity: 1;
}
#canvas2[data-filter="green"] .element-node[data-color="green"] {
  opacity: 1;
}
#canvas2[data-filter="all"] .element-node {
  opacity: 1;
}

#canvas4 {
  border: 1px solid;
  width: 700px;
  height: 700px;
  min-height: 300px;
  border-style:dotted;
  background: #FAFAFA;
}

#canvas4 .element-node {
  opacity: 0.5;
}
/*カードの最初の色は灰色*/
#canvas4 .element-node[data-color="gray"] {
  fill: #D8D8D8;
}

#canvas4 .element-node[data-color="red"] {
  fill: #F7BE81;
}
#canvas4 .element-node[data-color="blue"] {
  fill: #CEF6F5;
}
#canvas4 .element-node[data-color="green"] {
  fill: #9FF781;
}
#canvas4 .element-node text {
  fill: #000000;
}
#canvas4 .element-node:hover .port {
  opacity: 1;
}
#canvas4[data-filter="red"] .element-node[data-color="red"] {
  opacity: 1;
}
#canvas4[data-filter="blue"] .element-node[data-color="blue"] {
  opacity: 1;
}
#canvas4[data-filter="green"] .element-node[data-color="green"] {
  opacity: 1;
}
#canvas4[data-filter="all"] .element-node {
  opacity: 1;
}
.inPorts {
  width: 10px;
  height: 10px;
  transform: translate(-75px, -50px);
  fill: #000;
  opacity: 1;
}
.outPorts{
  width: 10px;
  height: 10px;
  transform: translate(75px, 50px);
  fill: #000;
  opacity: 1;
}
